.u-section-1 .u-sheet-1 {
  min-height: 544px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 851px;
  height: auto;
  margin: 7px auto 60px 151px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: 30px 30px 0;
}

.u-section-1 .u-image-1 {
  height: 645px;
  width: 1020px;
  margin: 42px auto 0 -80px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-left: 140px;
    height: auto;
  }

  .u-section-1 .u-image-1 {
    height: 506px;
    width: 800px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    height: 455px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    height: 341px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 215px;
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 531px;
}

.u-section-2 .u-list-1 {
  width: 932px;
  margin: 45px auto;
}

.u-section-2 .u-repeater-1 {
  min-height: 442px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 55px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-line-1 {
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-line-2 {
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-line-3 {
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }
}